<!DOCTYPE html>
<head>
    <title>Quick Poll</title>
    <style>
        html {
            font-size: 10px;
        }
        body {
            height: 95vh;
            display: flex;
            align-items: center;
        }
        .poll-answers {
            align-items: center;
            padding: 3em 1em;
        }
        .card {
            display: inline-block;
            text-align: center;
        }
        .qr-code {
            margin: auto;
        }
        .show-on-start {
            visibility: hidden;
        }
        .answer {
            font-size: 2em;
            margin: 0 1em;
        }
        #btn-add-answer {
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="poll-form">
    <form>
        <div class="poll-question">
            <input type="text" class="question" placeholder="Question">
        </div>
        <div class="poll-answers">
            <div class="card">
                <img class="qr-code show-on-start">
                <div class="container">
                    <input type="text" class="answer" placeholder="Answer">
                    <p class="answer-count show-on-start"></p>
                </div>
            </div>
        </div>
        <div class="add-answer">
            <input type="button" id="btn-add-answer" value="+" class="add-answer">
        </div>
        <div>
            <input class="submit" id="btn-start-poll" type="button" value="Start Poll">
        </div>
    </form>

</body>
<script>
    // const pollAnswers = document.querySelector("poll-answers")
    document.querySelector('#btn-add-answer').onclick = function(e) {
        console.log("add answer clicked")
        const answerCard = document.createElement('div')
        answerCard.className = 'card'

        const qrImg = document.createElement('img')
        qrImg.classList.add('show-on-start')
        qrImg.classList.add('qr-code')
        
        const answerContainer = document.createElement('div')
        answerContainer.className = 'container'

        const newAnswer = document.createElement('input')
        newAnswer.type = "text"
        newAnswer.className = "answer"
        newAnswer.placeholder = "Answer"

        const answerCount = document.createElement('p')
        answerCount.classList.add('answer-count')
        answerCount.classList.add('show-on-start')
        
        document.querySelector(".poll-answers").appendChild(answerCard)
        answerCard.appendChild(qrImg)
        answerCard.appendChild(answerContainer)
        answerContainer.appendChild(newAnswer)
        answerContainer.appendChild(answerCount)
        
    }
    document.querySelector('#btn-start-poll').onclick = function(e) {
        const question = document.querySelector('.question').value
        const answersNodes = document.querySelectorAll('.answer')
        let answers = []
        answersNodes.forEach(element => answers.push(element.value))
        
        // post Q & A to database
        fetch(
            '/questions', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'questionText': 'question',
                    'answers': answers
                })
            }
        )
        .then(response => response.json())
        .then(jsonResponse => {
            console.log(jsonResponse)
            const answerCards = document.querySelectorAll('.card')
            // Add QR codes and poll count HTML
            for (let i = 0; i < answerCards.length; i++) {
                let uuid = jsonResponse['answers_uuid'][i]
                let img = answerCards[i].querySelector('img')
                img.src = 
                    'http://api.qrserver.com/v1/create-qr-code/?data=' +
                    window.location.href + 
                    'answers?uuid=' + 
                    uuid

                let p = answerCards[i].querySelector('p')
                p.setAttribute('id', uuid)
                p.innerText = 0;
            }
            document.querySelectorAll(".show-on-start")
                .forEach(element => 
                    element.style.visibility = "visible")
        })
    }
    function update_poll() {

    }
</script>